
.containerFoundSong{
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0.5px;
    border-radius: 45px;
    padding: 1px 1px;
    overflow: auto;
    border: none;
}

.totalImageSelector {
    display: flex;
    background-color: rgba(100, 32, 32, 0);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  #addVideofoundsong {
      display: flex;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    margin-left: 23px;
    margin-top: 15px;
    height: 14%;
    width: 55%;
    padding-top: 4.5px;
    border-radius: 100px;  
    cursor: pointer;
    text-align: center;
    color: aquamarine;
  
}
  #addVideofoundsong:hover {
   
    border: none;
    /* background-image: linear-gradient(
      to right,
      #c9c616,
      #92bb20,
      #5ad442,
      #459b1d81
    ); */
  }
  
  #addVideofoundsong:focus {
    outline: none;
  }
  
 
  #playVideo {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
  }
  
.img{
    width: 240px;
    height: 200px;
    border-radius: 45px;
  }

  .button{
      background: none;
      border: none;
  }
  
  