
.playlistsongs{
  position: absolute;
  left: 900px;
  top: -65px;
  height: 542px;
  width: 467px;
  overflow-x: hidden;
}
.css-1qaznj3-MuiCardContent-root {
  padding: -2px;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
  .playlistsongs::-webkit-scrollbar {
    width: 9px;
  }
  
  .playlistsongs::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(
      linear,
      27% 15%,
      75% 74%,
      from(#fa684e),
      to(#b18f50),
      color-stop(0.6, #c04912)
    );
  }