
.containerPlay{
    display: flex;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXXvuEXx4cbCNZ1J9JAuPzERjBKSeWkpdkfQ&usqp=CAU");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 5px;
    border-radius: 45px;
    padding: 10px 20px;
    overflow: auto;
    border: 1px solid steelblue;
    width: 400px;
    /* max-height: 300px; */
}
.img{
    width: 100px;
    height: 100px;
  }