.css-18lolh3-MuiDataGrid-root {
    background-color: cadetblue;
    width: 1200px;
    left:130px;
    top:50%;
}
.BasicTable {
    width: 1200px;
    left:130px;
    top:50%;
}


.css-quj9j6-MuiTable-root {
    background-color: cadetblue;

}
