*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family:cursive;
    margin: 0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwL0_LECqWP5nmWfmq8FogSm1xznIYak4M6A&usqp=CAU");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }
  
  .App{
    display: flex;
    flex-direction: column;
    margin: 3px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
  }
  
  
  
  .btn{
    display: inline-block;
    background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  }
  
  .btn:focus{
    outline: none;
  }
  
  .btn:active{
    transform: scale(0.98);
  }
  .form{
    display: flex
    
  }
  .AddItemForm{
    /* position:absolute;
    top:60px;
    left:550px; */
    left:50%
  }
  .Login{
    display: flex;
    left:50%;
    /* position:absolute; */
    /* top:70px; */
    /* left:1100px; */
  }
  
  
  
  .PlayList{
    position:absolute;
    top:250px;
    left:100px;
}
.FindSongs{
  position:absolute;
  top:230px;
  left:1300px;
}
.ReactPlayer{
  position:absolute;
  top:280px;
  left:630px;
}
  

  
  

  
  
  