

body{
  height: 100%;
  font-family:cursive;
  margin: 0;
  padding: 0;
  background-image:  url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7yMQ8DTywoXw5C38LwmQd0XLOHXTn7Hja0A&usqp=CAU");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  /* height: 100vh;    */
}

.App{
  display: flex;
  flex-direction: column;
  margin: 3px auto;
  overflow: auto;
  border: none;
  padding: 30px;
  border-radius: 5px;
  height: 100vh;   
}




.form{
  display: flex
  
}
.AddItemForm{
  position:absolute;
  top:7%;
  left:30%
}


.FindSongs{
  position:absolute;
  top:50%;
  right: 81.5%;
}
.findsongs {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 40vh;
}
.findsongs1 {
  position: absolute;
  width: 350px;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root {
   margin:7px
}

.RecipeReviewCard{
  position: absolute;
  display: flex;
  top:1%;
  right: 37%;
  width: 100%;
  max-width: 690px;
  overflow: hidden;
  overflow-x:scroll;
  text-align: right;
}
.RecipeReviewCard::-webkit-scrollbar{
  display: none;
  
}
.PlayList{
  position:absolute;
  top:50%;
  right: 57%;
  height: 50vh;
}
.playlistsongs{
  position:absolute;
  overflow-x: hidden;
}
.ReactPlayer{
  position:absolute;
  top:2%;
  right: 1%;
width: 550px;
}
.plyr {

  min-width:100%;
 
}


