*{
  /* box-sizing: border-box; */
  /* margin: 0;
  padding: 0; */

}

body{
  height: 100%;
  font-family:cursive;
  margin: 0;
  padding: 0;
  background-image:  url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7yMQ8DTywoXw5C38LwmQd0XLOHXTn7Hja0A&usqp=CAU");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  /* height: 100vh;    */
}

.App{
  display: flex;
  flex-direction: column;
  margin: 3px auto;
  overflow: auto;
  border: none;
  padding: 30px;
  border-radius: 5px;
  height: 100vh;   
}




.form{
  display: flex
  
}
.AddItemForm{
  position:absolute;
  top:7%;
  left:30%
}


.FindSongs{
  position:absolute;
  top:2%;
  right: 82%;
}
.findsongs {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90vh;
}

.PlayList{
  position:absolute;
  top:2%;
  right: 68%;
  height: 90vh;
}
.playlistsongs{
  position:absolute;
  overflow-x: hidden;
}
.ReactPlayer{
  position:absolute;
  top:2%;
  right: 1%;
width: 450px;
}
.plyr {

  min-width:100%;
 
}







/* .btn{
  display: inline-block;
  background: rgb(228, 143, 143);
color: rgb(255, 255, 255);
border: none;
padding: 10px 10px;
margin: 5px;
border-radius: 15px;
cursor: pointer;
text-decoration: none;
font-size: 15px;
}

.btn:focus{
  outline: none;
}

.btn:active{
  transform: scale(0.98);
} */